
   <div class="footer">
    	<p id="copyright">版权所有：云南大学文化发展研究院  云南大学国家文化产业研究中心</p>
        <p id="tel">电话：0871-65033791 传真：0871-65033791</p>
        <p id="address">地址：云南省昆明市翠湖北路2号，云南大学文化发展研究院 </p>
    </div>
</body>
</html>
