
   <div class="footer">
    	<p id="copyright">All rights reserved:Culture Development Institute of Yunnan University  National culture industry research center of Yunnan University</p>
        <p id="tel">Telephone: 0871-65033791    Fax：0871-65033791</p>
        <p id="address">Address:Culture Culture Development Institute of Yunnan University,No.2 Cuihu North Road,Kunming,Yunnan </p>
    </div>
</body>
</html>